.DS_Store
node_modules
/wx_mmaicc2.1
/wx_mmaicc6
/h5_mmaicc6
/intelligent-query

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
